<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 5.5//EN" "http://hibernate.sourceforge.net/hibernate-configuration-5.5.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/hibernate</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		<property name="cache.use_second_level_cache">true</property>
		<property name="cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>

	<!-- 	<mapping class="com.hibernate.demo.entity.Country" />
		<mapping resource="hibernate/employee.hbm.xml" />
		<mapping class="com.hibernate.demo.entity.User" />
		<mapping class="com.hibernate.demo.entity.tph.TotalSalary" />
		<mapping class="com.hibernate.demo.entity.tph.BasicSalary" />
		<mapping class="com.hibernate.demo.entity.tph.BonusSalary" />
		<mapping class="com.hibernate.demo.entity.tpcc.Movie" />
		<mapping class="com.hibernate.demo.entity.tpcc.Hollywood" />
		<mapping class="com.hibernate.demo.entity.tpcc.Bollywood" />
		<mapping class="com.hibernate.demo.entity.tpsc.Vehicle" />
		<mapping class="com.hibernate.demo.entity.tpsc.Interior" />
		<mapping class="com.hibernate.demo.entity.tpsc.Exterior" />
		<mapping resource="hibernate/fruit.hbm.xml" />
		<mapping resource="hibernate/vegetable.hbm.xml" />
		<mapping resource="hibernate/password.hbm.xml" />
		<mapping resource="hibernate/laptop.hbm.xml" /> -->
		<mapping class="com.hibernate.demo.entity.mappings.Mobile" />
		<mapping class="com.hibernate.demo.entity.mappings.Number" />
		<mapping class="com.hibernate.demo.entity.mappings.Office" />
		<mapping class="com.hibernate.demo.entity.mappings.Software" />


	</session-factory>
</hibernate-configuration>